body{
  display: flex;
  flex-direction: column;
}
// header{
//   width: 100%;
//   height: 44px;
//   background: #F8F8F8 100% ;
//   line-height: 44px;
//   color: rgba(16, 16, 16, 100);
//   font-size: 20px;
//   text-align: center;
//   opacity: 0;
// }
main{
  flex: 1;
  width: 100%;
  overflow-y: scroll;
  background:url('../../img/sign-bg.jpg') no-repeat;
  background-size:cover ;
  background-position:center;
    .box{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .register{
          margin-top: 28px;
          margin-left: 75%;
          width: 100%;
          height: 50px;
          color: rgba(255, 255, 255, 100);
          font-size: 20px;
     
      }
      .trl-register{
       width: 100%;
       height:50px;
        color: rgba(255, 255, 255, 100);
        font-size: 28px;
      }
      .text{
       width: 100%;
       height:50px;
       color: #fff;
       font-size: 16px;
      }
      .mobiletrl{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 80%;
        p{
          width: 100%;
          height: 20px;
          line-height: 20px;
          color: white;
        }
        input::placeholder{
          color: #fff;
        }
        .select{
          margin-bottom: 10px;
          width: 20%;
          height: 50px;
          background-color:rgba(197, 188, 188, 0.5);
          border: 0;
          color: #fff;
        }
        .trl{
          width: 80%;
          height: 50px;
          background-color:rgba(197, 188, 188, 0.5);
        }
        div{
          display: flex;
          width: 100%;
          .yzms{
            width: 50%;
            height: 50px;
            background-color:rgba(197, 188, 188, 0.5);
            margin-bottom: 10px;
          }
          .code{
            margin-left: 5%;
            width: 45%;
            height: 50px;
            background-color:rgba(197, 188, 188, 0.5);
          }
        }
       
        .pas{
          width: 100%;
          height: 50px;
          background-color:rgba(197, 188, 188, 0.5);
          margin-bottom: 10px;
        }
        .pass{
          width: 100%;
          height: 50px;
          background-color:rgba(197, 188, 188, 0.5);
          margin-bottom: 10px;
        }
      }
    
     .confirm{
       margin: auto;
       width: 80%;
       height:50px;
       background:rgba(95, 129, 95, 0.5);
       border-radius: 20px;
       line-height: 50px;
       text-align: center;
       font-size: 16px;
       color: #fff;
     }
     
     .iocntion{
       display: flex;
       margin-left: 70%;
       width: 80%;
       height:50px;
       line-height: 30px;
       color: #fff;
       .ion{
         width: 30px;
         height: 30px;
         background:url('../../img/微信.png')no-repeat;
         background-position-y: 3px;
         background-size: 26px;
       }
     }
      }
      
    .word{
        margin-top: 30px;
          width: 100%;
          text-align: center;
          color: rgba(255, 255, 255, 100);
          font-size: 16px;
      }
  }
 
// footer{
//   display: flex;
//   width: 100%;
//   height: 44px;
//   opacity: 0;
//   // background: #000;
// }
  