body {
  display: flex;
  flex-direction: column;
}
header {
  width: 100%;
  height: 44px;
  background: #F8F8F8 100%;
  line-height: 44px;
  color: #101010;
  font-size: 20px;
  text-align: center;
  opacity: 0;
}
main {
  flex: 1;
  width: 100%;
  overflow-y: scroll;
  background: url('../../img/sign-bg.jpg') no-repeat;
  background-size: 150%;
  background-position-x: 0;
}
main .bgcolor {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 608px;
}
main .bgcolor .register {
  margin-top: 28px;
  margin-left: 75%;
  color: #ffffff;
  font-size: 20px;
}
main .bgcolor .trl-register {
  margin-top: 50px;
  margin-left: 10%;
  height: 50px;
  color: #ffffff;
  font-size: 28px;
}
main .bgcolor .text {
  margin-top: 5px;
  margin-left: 10%;
  color: #fff;
  font-size: 16px;
  margin-bottom: 30px;
}
main .bgcolor .mobiletrl {
  display: flex;
  margin: auto;
  width: 80%;
  height: 50px;
  background: #ccc;
  border-radius: 20px;
  opacity: 0.5;
}
main .bgcolor .mobiletrl .select {
  width: 20%;
  height: 50px;
  border: 0;
  margin-left: 5%;
  background: #ccc;
}
main .bgcolor .mobiletrl input {
  margin-left: 0;
  width: 80%;
  height: 50px;
  background: #ccc;
  border-radius: 20px;
}
main .bgcolor .mobiletrl input::placeholder {
  color: #fff;
  opacity: 1;
}
main .bgcolor .codes {
  display: flex;
  margin: auto;
  width: 80%;
  height: 50px;
}
main .bgcolor .codes input {
  width: 60%;
  height: 50px;
  background: #ccc;
  border-radius: 20px;
  opacity: 0.5;
}
main .bgcolor .codes input::placeholder {
  color: #fff;
  opacity: 1;
}
main .bgcolor .codes .code {
  width: 35%;
  height: 50px;
  background: #1260c7;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  color: aquamarine;
}
main .bgcolor .pas {
  margin: auto;
  width: 80%;
  height: 50px;
  background: #ccc;
  border-radius: 20px;
  opacity: 0.5;
}
main .bgcolor .pas input {
  width: 100%;
  height: 50px;
  background: #ccc;
  border-radius: 20px;
}
main .bgcolor .pass {
  margin: auto;
  width: 80%;
  height: 50px;
  background: #ccc;
  border-radius: 20px;
  opacity: 0.5;
}
main .bgcolor .pass input {
  width: 100%;
  height: 50px;
  background: #ccc;
  border-radius: 20px;
}
main .bgcolor .confirm {
  margin: auto;
  width: 80%;
  height: 50px;
  background: #ada;
  border-radius: 20px;
  opacity: 0.7;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
main .bgcolor .iocntion {
  display: flex;
  margin-left: 70%;
  width: 27%;
  height: 30px;
  line-height: 30px;
  color: #fff;
}
main .bgcolor .iocntion .ion {
  width: 30px;
  height: 30px;
  background: url('../../img/微信.png') no-repeat;
  background-position-y: 3px;
  background-size: 26px;
}
main .bgcolor .word {
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
}
footer {
  display: flex;
  width: 100%;
  height: 44px;
  opacity: 0;
}
